QuotingTestConsole/QuotingConsoleForTesting/Service References/QuotingServiceReference/QuotingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devtmploraw:8010/QuotingService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MASBasicFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MASBaseFaultDetail">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_DetailMessage" nillable="true" type="q1:ArrayOfstring" />
          <xs:element name="m_ErrorCode" type="xs:unsignedLong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MASBasicFaultDetail" nillable="true" type="tns:MASBasicFaultDetail" />
  <xs:complexType name="MASBaseFaultDetail">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MASBaseFaultDetail" nillable="true" type="tns:MASBaseFaultDetail" />
</xs:schema>