QuotingTestConsole/QuotingConsoleForTesting/Service References/QuotingServiceReference/QuotingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devtmploraw:8010/QuotingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetraTech.Domain.Quoting" />
  <xs:element name="CreateQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetraTech.Domain.Quoting" minOccurs="0" name="quoteRequest" nillable="true" type="q1:QuoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetraTech.Domain.Quoting" minOccurs="0" name="quoteResponse" nillable="true" type="q2:QuoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>