QuotingTestConsole/QuotingConsoleForTesting/Service References/QuotingServiceReference/QuotingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="MetraTech.MetraNet" elementFormDefault="qualified" targetNamespace="MetraTech.MetraNet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devtmploraw:8010/QuotingService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfQuoteIndividualPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteIndividualPrice" nillable="true" type="tns:QuoteIndividualPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuoteIndividualPrice" nillable="true" type="tns:ArrayOfQuoteIndividualPrice" />
  <xs:complexType name="QuoteIndividualPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ParameterTableId" type="xs:int" />
      <xs:element minOccurs="0" name="PriceableItemInstanceId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductOfferingId" type="xs:int" />
      <xs:element minOccurs="0" name="QuoteId" type="xs:int" />
      <xs:element minOccurs="0" name="RateSchedulesXml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteIndividualPrice" nillable="true" type="tns:QuoteIndividualPrice" />
</xs:schema>