RMP/config/validation/accountadapters_1_0.dtd

<!-- Header -->
<!ELEMENT adapter_set ( name, progID, configfile ) >

<!ELEMENT configfile ( #PCDATA ) >

<!ELEMENT name ( #PCDATA ) >

<!ELEMENT progID ( #PCDATA ) >

<!ELEMENT xmlconfig ( adapter_set+ ) >
<!ATTLIST xmlconfig xmlns:xsi CDATA #FIXED "http://www.w3.org/1999/XMLSchema/instance" >
<!ATTLIST xmlconfig xsi:schemaLocation CDATA #REQUIRED >
