RMP/config/validation/account_view_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
  <!-- INCLUDE BASIC SCHEMAS -->
  <!-- PTYPE NODE -->
  <xsd:include schemaLocation="elements/msix_elements_2_0.xsd" />
  
  <!-- Define service -->
  <xsd:element name="defineservice">

    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="basic_msix_name_2_0" />
        <xsd:element name="description" minOccurs="0" type="basic_msix_top_description_2_0" />
        <xsd:element name="ptype" type="account_view_msix_ptype_2_0" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
