RMP/config/validation/alltariffs_1_1.dtd

<!-- $Header $ -->

<!ELEMENT Currency ( #PCDATA ) >

<!ELEMENT Description ( #PCDATA ) >

<!ELEMENT Name ( #PCDATA ) >
<!ATTLIST Name enumspace CDATA #REQUIRED >
<!ATTLIST Name enumtype NMTOKEN #REQUIRED >
<!ATTLIST Name ptype NMTOKEN #REQUIRED >

<!ELEMENT tariff ( Name, Description, Currency ) >

<!ELEMENT xmlconfig ( tariff+ ) >
<!ATTLIST xmlconfig xmlns:xsi CDATA #FIXED "http://www.w3.org/1999/XMLSchema/instance" >
<!ATTLIST xmlconfig xsi:schemaLocation CDATA #REQUIRED >

