RMP/config/validation/listener_1_1.dtd

<!-- $Header$ -->
<!ELEMENT defaultstage ( #PCDATA ) >

<!ELEMENT metername ( #PCDATA ) >

<!ELEMENT queue ( #PCDATA ) >

<!ELEMENT routeto ( queue ) >

<!ELEMENT version ( #PCDATA ) >
<!ATTLIST version ptype NMTOKEN #REQUIRED >

<!ELEMENT xmlconfig ( version, metername, routeto, defaultstage ) >
<!ATTLIST xmlconfig xmlns:xsi CDATA #FIXED "http://www.w3.org/1999/XMLSchema/instance" >
<!ATTLIST xmlconfig xsi:schemaLocation CDATA #REQUIRED >
