RMP/config/validation/ServiceDef_1_0.dtd

<!-- $Header$ -->
<!-- Service definition -->

<!ELEMENT defaultvalue EMPTY >

<!ELEMENT defineservice ( name, ptype+ ) >

<!ELEMENT dn ( #PCDATA ) >

<!ELEMENT length ( #PCDATA ) >

<!ELEMENT name ( #PCDATA ) >

<!ELEMENT ptype ( dn, type, length, required, defaultvalue ) >

<!ELEMENT required ( #PCDATA ) >

<!ELEMENT type ( #PCDATA ) >
<!ATTLIST xmlconfig xmlns:xsi CDATA #FIXED "http://www.w3.org/1999/XMLSchema/instance" >
<!ATTLIST xmlconfig xsi:schemaLocation CDATA #REQUIRED >