RMP/config/validation/ServiceToStageMap_1_0.dtd

<!-- $Header $ -->
<!ELEMENT direction ( ServiceID, stage ) >

<!ELEMENT ServiceID ( #PCDATA ) >
<!ATTLIST ServiceID ptype NMTOKEN #FIXED "ID" >

<!ELEMENT stage ( #PCDATA ) >

<!ELEMENT xmlconfig ( direction+ ) >
<!ATTLIST xmlconfig xmlns:xsi CDATA #FIXED "http://www.w3.org/1999/XMLSchema/instance" >
<!ATTLIST xmlconfig xsi:schemaLocation CDATA #REQUIRED >
