RMP/config/validation/servicedef_1_1.dtd

<!ELEMENT defaultvalue EMPTY >

<!ELEMENT defineservice ( name, description, ptype+ ) >

<!ELEMENT description ( #PCDATA ) >

<!ELEMENT dn ( #PCDATA ) >

<!ELEMENT length ( #PCDATA ) >

<!ELEMENT name ( #PCDATA ) >

<!ELEMENT ptype ( dn, type, length, required, defaultvalue, description ) >

<!ELEMENT required ( #PCDATA ) >

<!ELEMENT type ( #PCDATA ) >

