RMP/config/validation/viewtoaspmapping_1_0.dtd

<!-- $Header$ -->

<!ELEMENT defaultproduct ( #PCDATA ) >

<!ELEMENT link ( #PCDATA ) >

<!ELEMENT name ( #PCDATA ) >

<!ELEMENT productview ( name, link ) >

<!ELEMENT site ( name?, defaultproduct, productview+ ) >

<!ELEMENT xmlconfig ( site+ ) >
<!ATTLIST xmlconfig xmlns:xsi CDATA #FIXED "http://www.w3.org/1999/XMLSchema/instance" >
<!ATTLIST xmlconfig xsi:schemaLocation CDATA #REQUIRED >