MetraConnect/config/validation/DBMPConfigSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:dbmp-config-schema" elementFormDefault="qualified" targetNamespace="urn:dbmp-config-schema">
 
 <xs:element name="BatchID">
	<xs:complexType>
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element ref="ptype" /> 
		</xs:sequence>
	</xs:complexType>
 </xs:element>
 
 <xs:element name="BatchIdentification">
	<xs:complexType>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element ref="BatchID" /> 
			<xs:element ref="BatchNamespace" /> 
		</xs:sequence>
	</xs:complexType>
 </xs:element>
 
 <xs:element name="BatchNamespace">
	<xs:complexType>
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element ref="ptype" /> 
		</xs:sequence>
	</xs:complexType>
 </xs:element>
 
 <xs:element name="CriteriaField">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ptype" /> 
		</xs:sequence>
	</xs:complexType>
 </xs:element>

 <xs:element name="DatabaseConfig">
	<xs:complexType>
		<xs:all  minOccurs="1" maxOccurs="1">
			<xs:element name="DatabaseType" type="xs:string"/> 
			<xs:element name="DataServer" type="xs:string"/> 
			<xs:element name="Provider" type="xs:string" minOccurs="0"/>
			<xs:element name="DataBase" type="xs:string"/> 
			<xs:element name="UserName" type="xs:string"/> 
			<xs:element name="Password" type="xs:string"/> 
			<xs:element name="ConnectedMode" type="xs:string"/> 
			<xs:element name="CommandTimeout" type="xs:integer"/> 
			<xs:element name="LockTable" type="xs:string" /> 
			<xs:element name="AppendToConnectionString" type="xs:string" minOccurs="0"/> 
		</xs:all>
	</xs:complexType>
 </xs:element>
 
  <xs:element name="LocalMode">
	<xs:complexType>
		<xs:all>
			<xs:element name="LocalModeFile" type="xs:string" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="MeterJournalFile" type="xs:string" minOccurs="0" maxOccurs="1"/> 
		</xs:all>
	</xs:complexType>
 </xs:element>

 <xs:element name="DBSettings">
	<xs:complexType>
		<xs:all maxOccurs="1" minOccurs="0">
			<xs:element name="TableName" type="xs:string" minOccurs="0"/> 
			<xs:element name="ColumnName" type="xs:string" minOccurs="0"/> 
		</xs:all>
	</xs:complexType>
 </xs:element>
 
 <xs:element name="ErrorHandling">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ErrorHandlingProps" maxOccurs="unbounded" minOccurs="0"/> 
		</xs:sequence>
	</xs:complexType>
 </xs:element>
  
 <xs:element name="ErrorHandlingProps">
	<xs:complexType>
		<xs:all>
			<xs:element name="ErrorCode" type="xs:integer" minOccurs="1"/> 
			<xs:element name="NoOfRetries" type="xs:integer" minOccurs="1" /> 
			<xs:element name="SleepTime" type="xs:integer" minOccurs="1" /> 
			<xs:element name="SleepIncrement" type="xs:integer" minOccurs="1"  /> 
			<xs:element minOccurs="0" name="ErrorMsg" type="xs:string" /> 
		</xs:all>
	</xs:complexType>
 </xs:element>
  
<xs:element name="ErrorMesg">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ptype" /> 
		</xs:sequence>
	</xs:complexType>
 </xs:element>

<xs:element name="loggingConfig">
	<xs:complexType>
		<xs:all minOccurs="1">
			<xs:element name="logFileName" type="xs:string" /> 
			<xs:element name="logLevel" type="ptype"/> 
		</xs:all>
	</xs:complexType>
</xs:element>

<xs:element name="MeteringServers">
	<xs:complexType>
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element ref="ServerData" /> 
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="ptype">
	<xs:complexType>
		
		<xs:sequence maxOccurs="1">
			<xs:element name="dn" type="xs:string" /> 
			<xs:element ref="type"/> 
			<xs:element name="length"  type="xs:string"/> 
			<xs:element name="required"  type="xs:string" /> 
			<xs:element name="defaultvalue"  type="xs:string" />
			<xs:element name="description"  type="xs:string" minOccurs="0" /> 
		</xs:sequence>
		<xs:attribute name="accountname" use="optional"></xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="type">
<xs:complexType mixed="true">
	<xs:attribute name="EnumSpace" use="optional"></xs:attribute>
	<xs:attribute name="EnumType" use="optional"></xs:attribute>
</xs:complexType>
</xs:element>


<xs:element name="SentTime">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ptype" /> 
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="ServerData">
	<xs:complexType>
		<xs:all minOccurs="1">
			<xs:element name="serveraddress" type="xs:string" /> 
			<xs:element name="port" type="ptype" /> 
			<xs:element name="priority" type="ptype"/> 
			<xs:element name="secure" type="ptype"/> 
			<xs:element name="meteringuid" type="xs:string" /> 
			<xs:element name="meteringpwd" type="xs:string"/> 
			<xs:element name="sdkdebuglevel" type="ptype"/> 
			<xs:element name="transmitinterval" type="ptype"/> 
		</xs:all>
	</xs:complexType>
</xs:element>

<xs:element name="ServerSettings">
	<xs:complexType>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="ServerData"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="ServiceChild">
	<xs:complexType>
		<xs:all>
			<xs:element name="ServiceName" type="xs:string" minOccurs="1"/> 
			<xs:element name="TableName" type="xs:string" minOccurs="0"/>
			<xs:element name="TableHint" type="xs:string" minOccurs="0"/>
			<xs:element name="SynchronousService" type="ptype" minOccurs="0"/> 
			<xs:element name="MaxSessionSet" type="xs:integer" minOccurs="0"/> 
			<xs:element ref="ServiceProperties" minOccurs="1"/> 
		</xs:all>
	</xs:complexType>
</xs:element>

<xs:element name="ServiceCriteriaField">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CriteriaField" /> 
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="ServiceData">	
	<xs:complexType>
		<xs:sequence>
			<xs:element name="ServiceName" type="xs:string" minOccurs="1"  maxOccurs="1" /> 
			<xs:element name="TableName" type="xs:string" minOccurs="0"  maxOccurs="1" /> 
			<xs:element name="TableHint" type="xs:string" minOccurs="0"  maxOccurs="1" /> 
			<xs:element name="SynchronousService"  type="ptype"  minOccurs="1"  maxOccurs="1" />
			<xs:element name="MaxSessionSet" type="xs:integer"  minOccurs="1" maxOccurs="1" /> 
			<xs:element name="FailureRetries" type="xs:integer" minOccurs="0" maxOccurs="1" /> 
			<xs:element ref="ServiceCriteriaField" minOccurs="1" maxOccurs="1" /> 
			<xs:element ref="BatchIdentification" minOccurs="1" maxOccurs="1"/> 
			<xs:element ref="SpecialFieldsToUpdate" minOccurs="0" maxOccurs="1"/> 
			<xs:element ref="ServicePrimaryKey" minOccurs="0" maxOccurs="1"/> 
			<xs:element ref="ServiceProperties" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ServiceChild" minOccurs="0" maxOccurs="unbounded"/> 
		</xs:sequence>
	</xs:complexType>

</xs:element>

<xs:element name="ServicePrimaryKey">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ptype" minOccurs="0" maxOccurs="unbounded" /> 
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="ServiceProperties">
	<xs:complexType>
		<xs:choice>
			<xs:element name="servicedefinitionfile" minOccurs="0" maxOccurs="1" />
			<xs:element ref="ptype" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
	</xs:complexType>
</xs:element>

<xs:element name="Services">
	<xs:complexType>
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element ref="ServiceData" /> 
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="SessionContext">
	<xs:complexType>
		<xs:all>
			<xs:element name="UserName" type="xs:string" minOccurs="1"/> 
			<xs:element name="NameSpace" type="xs:string" minOccurs="1"/> 
			<xs:element name="Password" type="xs:string" minOccurs="1"/> 
			<xs:element name="SerializedContextStr" type="xs:string" minOccurs="1"/> 
			<xs:element ref="ServerSettings" minOccurs="0" /> 
		</xs:all>
	</xs:complexType>
</xs:element>

<xs:element name="SpecialFieldsToUpdate">
	<xs:complexType>
		<xs:all>
			<xs:element ref="SentTime" /> 
			<xs:element ref="ErrorMesg" /> 
		</xs:all>
	</xs:complexType>
</xs:element>

<xs:element name="Timestamp">
	<xs:complexType>
		<xs:all maxOccurs="1">
			<xs:element name="Mode" type="xs:string" /> 
			<xs:element name="StartMeteringTime" type="xs:string" minOccurs="0"/> 
			<xs:element ref="DBSettings" minOccurs="0"/> 
		</xs:all>
	</xs:complexType>
</xs:element>

<xs:complexType name="ptype" mixed="true">
	<xs:attribute name="ptype" type="xs:NMTOKEN" use="optional"/> 
</xs:complexType>
	
<xs:element name="xmlconfig">
	<xs:complexType>
		<xs:all>
			<xs:element ref="ErrorHandling" minOccurs="0"/> 
			<xs:element name="version" type="ptype" minOccurs="1" />
			<xs:element name="StatusUpdateMode" minOccurs="0"/>
			<xs:element name="StatusTableSuffix" minOccurs="0"/>
			<xs:element name="UpdateTableName" minOccurs="0"/>
			<xs:element name="lastMeteredTime" type="ptype" minOccurs="1"/>
			<!-- CR#12662 making localtimezone tag optional -->
			<xs:element name="localTimeZone" type="xs:string" minOccurs="0"/> 
			<xs:element name="graceDays" type="ptype" minOccurs="1" /> 
			<xs:element name="interactive" type="ptype"  minOccurs="1"/> 
			<xs:element name="useDefaults" type="ptype" minOccurs="1"/> 
			<xs:element name="batchCriteria" type="xs:string" minOccurs="1" /> 
			<xs:element name="connectivityretry" type="ptype" minOccurs="1" /> 
			<xs:element name="numberOfOutStandingThreads" type="ptype" minOccurs="0" />
			<xs:element ref="Timestamp" minOccurs="1" /> 
			<xs:element ref="LocalMode" minOccurs="0" /> 
			<xs:element ref="loggingConfig" minOccurs="1" /> 
			<xs:element ref="DatabaseConfig" minOccurs="1" /> 
			<xs:element ref="SessionContext" minOccurs="1" /> 
			<xs:element name="TablePrefix" type="xs:string" minOccurs="1" /> 
			<xs:element name="ColumnPrefix" type="xs:string" minOccurs="1" /> 
			<xs:element name="BatchNamePrefix" type="xs:string" minOccurs="0"/> 
			<xs:element name="BatchNamespace" type="xs:string" minOccurs="0"/> 
			<xs:element name="httptimeout" type="ptype" minOccurs="1" /> 
			<xs:element name="httpretries" type="ptype" minOccurs="1" /> 
			<xs:element ref="MeteringServers" minOccurs="1"/>
			<xs:element ref="Services" minOccurs="1"/> 
		</xs:all>
	</xs:complexType>

</xs:element>

</xs:schema>
