RMP/UI/MetraNet/App_WebReferences/AccHierarchy/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.metratech.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.metratech.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.metratech.com/webservices/">
      <s:element name="GetFieldIDFromAccountID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lAccountID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dRefDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldIDFromAccountIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldIDFromAccountIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRootNodeCapacity">
        <s:complexType />
      </s:element>
      <s:element name="GetRootNodeCapacityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRootNodeCapacityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNestedNodePageSize">
        <s:complexType />
      </s:element>
      <s:element name="GetNestedNodePageSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNestedNodePageSizeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHierarchyLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="typeSpace" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lAccountID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="dRefDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bShowAllCorporations" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="visibleAccounts" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="companyFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usernameFilter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MAMHierarchyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CanWrite" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasChildren" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Namespace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HierarchyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfPayees" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HierarchyPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentItemID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemType" type="tns:HierarchyItemType" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasLogonCapability" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchyItemType">
        <s:restriction base="s:string">
          <s:enumeration value="Account" />
          <s:enumeration value="Folder" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfMAMHierarchyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MAMHierarchyItem" nillable="true" type="tns:MAMHierarchyItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHierarchyLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHierarchyLevelResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFieldIDFromAccountIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFieldIDFromAccountID" />
  </wsdl:message>
  <wsdl:message name="GetFieldIDFromAccountIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFieldIDFromAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetRootNodeCapacitySoapIn">
    <wsdl:part name="parameters" element="tns:GetRootNodeCapacity" />
  </wsdl:message>
  <wsdl:message name="GetRootNodeCapacitySoapOut">
    <wsdl:part name="parameters" element="tns:GetRootNodeCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="GetNestedNodePageSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNestedNodePageSize" />
  </wsdl:message>
  <wsdl:message name="GetNestedNodePageSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNestedNodePageSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetHierarchyLevelSoapIn">
    <wsdl:part name="parameters" element="tns:GetHierarchyLevel" />
  </wsdl:message>
  <wsdl:message name="GetHierarchyLevelSoapOut">
    <wsdl:part name="parameters" element="tns:GetHierarchyLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="MAMHierarchyWebSvcSoap">
    <wsdl:operation name="GetFieldIDFromAccountID">
      <wsdl:input message="tns:GetFieldIDFromAccountIDSoapIn" />
      <wsdl:output message="tns:GetFieldIDFromAccountIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRootNodeCapacity">
      <wsdl:input message="tns:GetRootNodeCapacitySoapIn" />
      <wsdl:output message="tns:GetRootNodeCapacitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNestedNodePageSize">
      <wsdl:input message="tns:GetNestedNodePageSizeSoapIn" />
      <wsdl:output message="tns:GetNestedNodePageSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHierarchyLevel">
      <wsdl:input message="tns:GetHierarchyLevelSoapIn" />
      <wsdl:output message="tns:GetHierarchyLevelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MAMHierarchyWebSvcSoap" type="tns:MAMHierarchyWebSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFieldIDFromAccountID">
      <soap:operation soapAction="http://www.metratech.com/webservices/GetFieldIDFromAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRootNodeCapacity">
      <soap:operation soapAction="http://www.metratech.com/webservices/GetRootNodeCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNestedNodePageSize">
      <soap:operation soapAction="http://www.metratech.com/webservices/GetNestedNodePageSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHierarchyLevel">
      <soap:operation soapAction="http://www.metratech.com/webservices/GetHierarchyLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MAMHierarchyWebSvcSoap12" type="tns:MAMHierarchyWebSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFieldIDFromAccountID">
      <soap12:operation soapAction="http://www.metratech.com/webservices/GetFieldIDFromAccountID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRootNodeCapacity">
      <soap12:operation soapAction="http://www.metratech.com/webservices/GetRootNodeCapacity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNestedNodePageSize">
      <soap12:operation soapAction="http://www.metratech.com/webservices/GetNestedNodePageSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHierarchyLevel">
      <soap12:operation soapAction="http://www.metratech.com/webservices/GetHierarchyLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MAMHierarchyWebSvc">
    <wsdl:port name="MAMHierarchyWebSvcSoap" binding="tns:MAMHierarchyWebSvcSoap">
      <soap:address location="http://localhost/AccountHierarchy/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="MAMHierarchyWebSvcSoap12" binding="tns:MAMHierarchyWebSvcSoap12">
      <soap12:address location="http://localhost/AccountHierarchy/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>