MetraTech/Tax/Framework/Service References/TaxCalculationManagerService/TaxCalculationManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://ws.taxware.com/service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.taxwareenterprise.com" xmlns:impl="http://ws.taxware.com/service" targetNamespace="http://ws.taxware.com/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.taxwareenterprise.com">
      <xsd:complexType name="SecrtySbj">
        <xsd:sequence>
          <xsd:element name="usrname" type="xsd:string" />
          <xsd:element name="pswrd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sessnId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransactionRequest">
        <xsd:sequence>
          <xsd:element name="secrtySbj" type="tns1:SecrtySbj" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txwTrnDocId" type="xsd:long" />
          <xsd:element name="trnId" type="xsd:string" />
          <xsd:element name="trnSrc" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="abortRequest" type="tns1:TransactionRequest" />
      <xsd:complexType name="TweFault">
        <xsd:sequence>
          <xsd:element name="tweFltCd" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tweFltMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tweFltExcTp" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="tweFault" type="tns1:TweFault" />
      <xsd:element name="commitRequest" type="tns1:TransactionRequest" />
      <xsd:element name="abortWithResponseRequest" type="tns1:TransactionRequest" />
      <xsd:complexType name="AbortCommitResponse">
        <xsd:sequence>
          <xsd:element name="trnStateCode" type="xsd:int" />
          <xsd:element name="trnStateDesc" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnSrc" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txwTrnDocId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="abortResponse" type="tns1:AbortCommitResponse" />
      <xsd:element name="commitWithResponseRequest" type="tns1:TransactionRequest" />
      <xsd:element name="commitResponse" type="tns1:AbortCommitResponse" />
      <xsd:complexType name="Discnt">
        <xsd:sequence>
          <xsd:element name="amt" type="xsd:double" />
          <xsd:element name="tp" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Discnts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="discnt" type="tns1:Discnt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GoodSrv">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="dscrp" type="xsd:string" />
          <xsd:element name="myCd" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Addrs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="txID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="streetNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="street" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="streetNameNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statePrv" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cnty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postCdExt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntry" type="xsd:string" />
          <xsd:element name="outOfCityInd" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Loc">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="addrs" type="tns1:Addrs" />
          <xsd:element name="geoCd" type="xsd:int" />
          <xsd:element name="locCd" type="xsd:string" />
          <xsd:element name="locTp" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bsns">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="code" type="xsd:string" />
          <xsd:element name="locSetCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TxJurUID">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="cityCntyDist" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntry" type="xsd:string" />
          <xsd:element name="jurTp" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statePrv" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txwTJId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statePrvISO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntryISO" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegNm">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="code" type="xsd:string" />
          <xsd:element name="status" type="xsd:int" />
          <xsd:element name="taxable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txJurUID" type="tns1:TxJurUID" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegNms">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="regNm" type="tns1:RegNm" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SpecRulesCd">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="myCd" type="xsd:string" />
          <xsd:element name="tp" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SpecRulesCds">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="specRulesCd" type="tns1:SpecRulesCd" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustAttrb">
        <xsd:sequence>
          <xsd:element name="attrbName" type="xsd:string" />
          <xsd:element name="attrbVl" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustAttrbs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="custAttrb" type="tns1:CustAttrb" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LeasTxJurInf">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="cityCntyDist" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntry" type="xsd:string" />
          <xsd:element name="jurTp" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statePrv" type="xsd:string" />
          <xsd:element name="txwTJId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txPaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txablePaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leasePmtTp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statePrvISO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntryISO" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LnItmLeasInf">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="leasTJInf" type="tns1:LeasTxJurInf" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntrctAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyOutAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fairMktVlAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="eqpmntCost" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntrctId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LnItm">
        <xsd:sequence>
          <xsd:element name="dlvrAmt" type="xsd:double" />
          <xsd:element name="dlvrInsAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="discnts" type="tns1:Discnts" />
          <xsd:element name="custmsDutTrfAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="groupCd" type="xsd:string" />
          <xsd:element name="origCostGood" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="origDocNm" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="origTrnDt" type="xsd:dateTime" />
          <xsd:element name="ItmWgt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="wgtUMCd" type="xsd:string" />
          <xsd:element name="debCredIndr" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="goodSrv" type="tns1:GoodSrv" />
          <xsd:element name="grossAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lnItmId" type="xsd:string" />
          <xsd:element name="lnItmNm" type="xsd:int" />
          <xsd:element name="qnty" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qntyUMCd" type="xsd:string" />
          <xsd:element name="trnTp" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="accntDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billTo" type="tns1:Loc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="custrVend" type="tns1:Bsns" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dlvrDt" type="xsd:dateTime" />
          <xsd:element name="dropShipInd" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lOA" nillable="true" type="tns1:Loc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lOR" nillable="true" type="tns1:Loc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lSP" nillable="true" type="tns1:Loc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lU" nillable="true" type="tns1:Loc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="myDlvrCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="myMTCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtDueDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtRcvedDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receiptDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="srvcPerfDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txIdNm" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="thirdParty" type="tns1:Bsns" />
          <xsd:element minOccurs="0" maxOccurs="1" name="titleTrnsDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="org" type="tns1:Bsns" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipFrom" type="tns1:Loc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipTo" type="tns1:Loc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contrctEndDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contrctStartDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="custVendRegNms" type="tns1:RegNms" />
          <xsd:element minOccurs="0" maxOccurs="1" name="myEntUseCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="myRegNms" type="tns1:RegNms" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pOSInd" nillable="true" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="restockFee" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnOfGoodsDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specRulesCds" type="tns1:SpecRulesCds" />
          <xsd:element minOccurs="0" maxOccurs="1" name="thirdPrtyRegNms" type="tns1:RegNms" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cntryOfOrign" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="natureOfTrn" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="portLoadUnload" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="regOrignDestCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statisProcCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="imptDt" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="custAttrbs" type="tns1:CustAttrbs" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leasingInf" type="tns1:LnItmLeasInf" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ForcJurRslt">
        <xsd:sequence>
          <xsd:element name="xmptAmt" type="xsd:double" />
          <xsd:element name="txableAmt" type="xsd:double" />
          <xsd:element name="txAmt" type="xsd:double" />
          <xsd:element name="txRate" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txPaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txablePaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leasePmtTp" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TxNameForcJurRslt">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:ForcJurRslt">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="txName" type="xsd:string" />
              <xsd:element name="txNameID" type="xsd:long" />
              <xsd:element name="txTp" type="xsd:int" />
              <xsd:element name="thrshldLvl" type="xsd:int" />
              <xsd:element minOccurs="0" maxOccurs="1" name="txJurUID" type="tns1:TxJurUID" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AggrForcJurRslt">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:ForcJurRslt">
            <xsd:sequence>
              <xsd:element name="aggrTxJurTp" type="xsd:int" />
              <xsd:element name="aggrTp" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ForcJurRslts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="txNameForcJurRslt" type="tns1:TxNameForcJurRslt" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="aggrForcJurRslt" type="tns1:AggrForcJurRslt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ForcLnItm">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:LnItm">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="forcJurRslts" type="tns1:ForcJurRslts" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LnItms">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lnItm" type="tns1:LnItm" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Doc">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="lnItms" type="tns1:LnItms" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currn" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docDt" type="xsd:dateTime" />
          <xsd:element name="txCalcTp" type="xsd:int" />
          <xsd:element name="trnDocNm" type="xsd:string" />
          <xsd:element name="trnSrc" type="xsd:string" />
          <xsd:element name="dlvrAmt" type="xsd:double" />
          <xsd:element name="dlvrInsAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="discnts" type="tns1:Discnts" />
          <xsd:element name="custmsDutTrfAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="custAttrbs" type="tns1:CustAttrbs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CalculationRequest">
        <xsd:sequence>
          <xsd:element name="secrtySbj" type="tns1:SecrtySbj" />
          <xsd:element name="doc" type="tns1:Doc" />
          <xsd:element name="rsltLvl" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="isAudit" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="calculateDocumentRequest" type="tns1:CalculationRequest" />
      <xsd:complexType name="JurSumRslt">
        <xsd:sequence>
          <xsd:element name="xmptAmt" type="xsd:double" />
          <xsd:element name="txableAmt" type="xsd:double" />
          <xsd:element name="txAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txJurUID" type="tns1:TxJurUID" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txName" type="xsd:string" />
          <xsd:element name="txNameID" type="xsd:long" />
          <xsd:element name="txTp" type="xsd:int" />
          <xsd:element name="thrshldLvl" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txPaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txablePaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leasePmtTp" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="JurSumRslts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="jurSumRslt" type="tns1:JurSumRslt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Attrb">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MsgAttrbs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attrb" type="tns1:Attrb" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TxDecis">
        <xsd:sequence>
          <xsd:element name="severity" type="xsd:int" />
          <xsd:element name="id" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dscrp" type="xsd:string" />
          <xsd:element name="dtls" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="attrbs" type="tns1:MsgAttrbs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TxDeciss">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="txDecis" type="tns1:TxDecis" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TxDecisSet">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="txDecisSetTp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="txDeciss" type="tns1:TxDeciss" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TxDecisSets">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="txDecisSet" type="tns1:TxDecisSet" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Msg">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="attrbs" type="tns1:MsgAttrbs" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dscrp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dtls" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Msgs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="msg" type="tns1:Msg" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="JurRslt">
        <xsd:sequence>
          <xsd:element name="xmptAmt" type="xsd:double" />
          <xsd:element name="txableAmt" type="xsd:double" />
          <xsd:element name="txAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txJurUID" type="tns1:TxJurUID" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txNameID" type="xsd:long" />
          <xsd:element name="txTp" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="thrshldLvl" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aggrTxJurTp1" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aggrTxJurTp2" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recvrAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recvrPercnt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txDecisSets" type="tns1:TxDecisSets" />
          <xsd:element name="txRate" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnMsg" type="tns1:Msgs" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txPaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txablePaidToDt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leasePmtTp" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="JurRslts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="jurRslt" type="tns1:JurRslt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LnRslt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="custVendRegNms" type="tns1:RegNms" />
          <xsd:element name="grossAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jurRslts" type="tns1:JurRslts" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lnId" type="xsd:string" />
          <xsd:element name="lnNm" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="myRegNms" type="tns1:RegNms" />
          <xsd:element name="txAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txDecisSets" type="tns1:TxDecisSets" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txRate" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txwLnId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="thirdPrtyRegNms" type="tns1:RegNms" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LnRslts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lnRslt" type="tns1:LnRslt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TxDocRslt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="jurSumRslts" type="tns1:JurSumRslts" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lnRslts" type="tns1:LnRslts" />
          <xsd:element name="txAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txDecisSet" type="tns1:TxDecisSet" />
          <xsd:element name="txwTrnDocId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnDocNm" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CalculationResponse">
        <xsd:sequence>
          <xsd:element name="txDocRslt" type="tns1:TxDocRslt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="calculateDocumentResponse" type="tns1:CalculationResponse" />
      <xsd:element name="calculateLineRequest" type="tns1:CalculationRequest" />
      <xsd:element name="calculateLineResponse" type="tns1:CalculationResponse" />
      <xsd:complexType name="ForcLnItms">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="forcLnItm" type="tns1:ForcLnItm" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ForcDoc">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="forcLnItms" type="tns1:ForcLnItms" />
          <xsd:element name="aggrJurTp" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currn" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docDt" type="xsd:dateTime" />
          <xsd:element name="txCalcTp" type="xsd:int" />
          <xsd:element name="trnDocNm" type="xsd:string" />
          <xsd:element name="trnSrc" type="xsd:string" />
          <xsd:element name="dlvrAmt" type="xsd:double" />
          <xsd:element name="dlvrInsAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="discnts" type="tns1:Discnts" />
          <xsd:element name="custmsDutTrfAmt" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="custAttrbs" type="tns1:CustAttrbs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ForceCalculationRequest">
        <xsd:sequence>
          <xsd:element name="secrtySbj" type="tns1:SecrtySbj" />
          <xsd:element name="forcDoc" type="tns1:ForcDoc" />
          <xsd:element name="isPart" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="isAudit" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="forceCalculationRequest" type="tns1:ForceCalculationRequest" />
      <xsd:element name="forceCalculationResponse" type="tns1:CalculationResponse" />
      <xsd:complexType name="GetResultByMyDocumentNumberRequest">
        <xsd:sequence>
          <xsd:element name="secrtySbj" type="tns1:SecrtySbj" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnDocNm" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trnSrc" type="xsd:string" />
          <xsd:element name="rsltLvl" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getResultByMyDocumentNumberRequest" type="tns1:GetResultByMyDocumentNumberRequest" />
      <xsd:complexType name="TxDocRslts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="txDocRslt" type="tns1:TxDocRslt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dummy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetResultByMyDocumentNumberResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="txDocRslts" type="tns1:TxDocRslts" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getResultByMyDocumentNumberResponse" type="tns1:GetResultByMyDocumentNumberResponse" />
      <xsd:complexType name="GetResultByTaxwareDocumentIdRequest">
        <xsd:sequence>
          <xsd:element name="secrtySbj" type="tns1:SecrtySbj" />
          <xsd:element name="txwTrnDocId" type="xsd:int" />
          <xsd:element name="rsltLvl" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getResultByTaxwareDocumentIdRequest" type="tns1:GetResultByTaxwareDocumentIdRequest" />
      <xsd:element name="getResultByTaxwareDocumentIdResponse" type="tns1:CalculationResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="calculateDocumentResponse">
    <wsdl:part name="calculateDocumentResponse" element="tns1:calculateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="calculateLineResponse">
    <wsdl:part name="calculateLineResponse" element="tns1:calculateLineResponse" />
  </wsdl:message>
  <wsdl:message name="abortWithResponseRequest">
    <wsdl:part name="abortWithResponseRequest" element="tns1:abortWithResponseRequest" />
  </wsdl:message>
  <wsdl:message name="forceCalculationRequest">
    <wsdl:part name="forceCalculationRequest" element="tns1:forceCalculationRequest" />
  </wsdl:message>
  <wsdl:message name="abortResponse" />
  <wsdl:message name="commitRequest">
    <wsdl:part name="commitRequest" element="tns1:commitRequest" />
  </wsdl:message>
  <wsdl:message name="getResultByTaxwareDocumentIdResponse">
    <wsdl:part name="getResultByTaxwareDocumentIdResponse" element="tns1:getResultByTaxwareDocumentIdResponse" />
  </wsdl:message>
  <wsdl:message name="forceCalculationResponse">
    <wsdl:part name="forceCalculationResponse" element="tns1:forceCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="abortWithResponseResponse">
    <wsdl:part name="abortResponse" element="tns1:abortResponse" />
  </wsdl:message>
  <wsdl:message name="commitWithResponseResponse">
    <wsdl:part name="commitResponse" element="tns1:commitResponse" />
  </wsdl:message>
  <wsdl:message name="TweFault">
    <wsdl:part name="tweFault" element="tns1:tweFault" />
  </wsdl:message>
  <wsdl:message name="commitResponse" />
  <wsdl:message name="getResultByMyDocumentNumberRequest">
    <wsdl:part name="getResultByMyDocumentNumberRequest" element="tns1:getResultByMyDocumentNumberRequest" />
  </wsdl:message>
  <wsdl:message name="calculateLineRequest">
    <wsdl:part name="calculateLineRequest" element="tns1:calculateLineRequest" />
  </wsdl:message>
  <wsdl:message name="getResultByTaxwareDocumentIdRequest">
    <wsdl:part name="getResultByTaxwareDocumentIdRequest" element="tns1:getResultByTaxwareDocumentIdRequest" />
  </wsdl:message>
  <wsdl:message name="abortRequest">
    <wsdl:part name="abortRequest" element="tns1:abortRequest" />
  </wsdl:message>
  <wsdl:message name="getResultByMyDocumentNumberResponse">
    <wsdl:part name="getResultByMyDocumentNumberResponse" element="tns1:getResultByMyDocumentNumberResponse" />
  </wsdl:message>
  <wsdl:message name="commitWithResponseRequest">
    <wsdl:part name="commitWithResponseRequest" element="tns1:commitWithResponseRequest" />
  </wsdl:message>
  <wsdl:message name="calculateDocumentRequest">
    <wsdl:part name="calculateDocumentRequest" element="tns1:calculateDocumentRequest" />
  </wsdl:message>
  <wsdl:portType name="TaxCalculationManagerServiceInterface">
    <wsdl:operation name="abort" parameterOrder="abortRequest">
      <wsdl:input name="abortRequest" message="impl:abortRequest" />
      <wsdl:output name="abortResponse" message="impl:abortResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="commit" parameterOrder="commitRequest">
      <wsdl:input name="commitRequest" message="impl:commitRequest" />
      <wsdl:output name="commitResponse" message="impl:commitResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="abortWithResponse" parameterOrder="abortWithResponseRequest">
      <wsdl:input name="abortWithResponseRequest" message="impl:abortWithResponseRequest" />
      <wsdl:output name="abortWithResponseResponse" message="impl:abortWithResponseResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="commitWithResponse" parameterOrder="commitWithResponseRequest">
      <wsdl:input name="commitWithResponseRequest" message="impl:commitWithResponseRequest" />
      <wsdl:output name="commitWithResponseResponse" message="impl:commitWithResponseResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="calculateDocument" parameterOrder="calculateDocumentRequest">
      <wsdl:input name="calculateDocumentRequest" message="impl:calculateDocumentRequest" />
      <wsdl:output name="calculateDocumentResponse" message="impl:calculateDocumentResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="calculateLine" parameterOrder="calculateLineRequest">
      <wsdl:input name="calculateLineRequest" message="impl:calculateLineRequest" />
      <wsdl:output name="calculateLineResponse" message="impl:calculateLineResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="forceCalculation" parameterOrder="forceCalculationRequest">
      <wsdl:input name="forceCalculationRequest" message="impl:forceCalculationRequest" />
      <wsdl:output name="forceCalculationResponse" message="impl:forceCalculationResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="getResultByMyDocumentNumber" parameterOrder="getResultByMyDocumentNumberRequest">
      <wsdl:input name="getResultByMyDocumentNumberRequest" message="impl:getResultByMyDocumentNumberRequest" />
      <wsdl:output name="getResultByMyDocumentNumberResponse" message="impl:getResultByMyDocumentNumberResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
    <wsdl:operation name="getResultByTaxwareDocumentId" parameterOrder="getResultByTaxwareDocumentIdRequest">
      <wsdl:input name="getResultByTaxwareDocumentIdRequest" message="impl:getResultByTaxwareDocumentIdRequest" />
      <wsdl:output name="getResultByTaxwareDocumentIdResponse" message="impl:getResultByTaxwareDocumentIdResponse" />
      <wsdl:fault name="TweFault" message="impl:TweFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaxCalculationManagerServiceSoapBinding" type="impl:TaxCalculationManagerServiceInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="abort">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="abortRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="abortResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="commit">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="commitRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="commitResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="abortWithResponse">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="abortWithResponseRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="abortWithResponseResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="commitWithResponse">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="commitWithResponseRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="commitWithResponseResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="calculateDocument">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="calculateDocumentRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="calculateDocumentResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="calculateLine">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="calculateLineRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="calculateLineResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="forceCalculation">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="forceCalculationRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="forceCalculationResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResultByMyDocumentNumber">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getResultByMyDocumentNumberRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResultByMyDocumentNumberResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResultByTaxwareDocumentId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getResultByTaxwareDocumentIdRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResultByTaxwareDocumentIdResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TweFault">
        <wsdlsoap:fault use="literal" name="TweFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaxCalculationManagerServiceService">
    <wsdl:port name="TaxCalculationManagerService" binding="impl:TaxCalculationManagerServiceSoapBinding">
      <wsdlsoap:address location="http://twe70services.dmainc.com/twe/services/TaxCalculationManagerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>