ReRunClientTest/Web References/localhost/ReRun.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://metratech.com/webservices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://metratech.com/webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://metratech.com/webservices/">
      <s:element name="IsOperationComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsOperationCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsOperationCompleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Setup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginIdentify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginIdentifyResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginAnalyze">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginAnalyzeResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginIdentifyAndAnalyze">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginIdentifyAndAnalyzeResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginBackout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginBackoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginBackoutPrepareExtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginBackoutPrepareExtractResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginAbandon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginAbandonResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginPrepare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginPrepareResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginExtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginExtractResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeginReRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rerunID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginReRunResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </types>
  <message name="IsOperationCompleteSoapIn">
    <part name="parameters" element="s0:IsOperationComplete" />
  </message>
  <message name="IsOperationCompleteSoapOut">
    <part name="parameters" element="s0:IsOperationCompleteResponse" />
  </message>
  <message name="SetupSoapIn">
    <part name="parameters" element="s0:Setup" />
  </message>
  <message name="SetupSoapOut">
    <part name="parameters" element="s0:SetupResponse" />
  </message>
  <message name="BeginIdentifySoapIn">
    <part name="parameters" element="s0:BeginIdentify" />
  </message>
  <message name="BeginIdentifySoapOut">
    <part name="parameters" element="s0:BeginIdentifyResponse" />
  </message>
  <message name="BeginAnalyzeSoapIn">
    <part name="parameters" element="s0:BeginAnalyze" />
  </message>
  <message name="BeginAnalyzeSoapOut">
    <part name="parameters" element="s0:BeginAnalyzeResponse" />
  </message>
  <message name="BeginIdentifyAndAnalyzeSoapIn">
    <part name="parameters" element="s0:BeginIdentifyAndAnalyze" />
  </message>
  <message name="BeginIdentifyAndAnalyzeSoapOut">
    <part name="parameters" element="s0:BeginIdentifyAndAnalyzeResponse" />
  </message>
  <message name="BeginBackoutSoapIn">
    <part name="parameters" element="s0:BeginBackout" />
  </message>
  <message name="BeginBackoutSoapOut">
    <part name="parameters" element="s0:BeginBackoutResponse" />
  </message>
  <message name="BeginBackoutPrepareExtractSoapIn">
    <part name="parameters" element="s0:BeginBackoutPrepareExtract" />
  </message>
  <message name="BeginBackoutPrepareExtractSoapOut">
    <part name="parameters" element="s0:BeginBackoutPrepareExtractResponse" />
  </message>
  <message name="BeginDeleteSoapIn">
    <part name="parameters" element="s0:BeginDelete" />
  </message>
  <message name="BeginDeleteSoapOut">
    <part name="parameters" element="s0:BeginDeleteResponse" />
  </message>
  <message name="BeginAbandonSoapIn">
    <part name="parameters" element="s0:BeginAbandon" />
  </message>
  <message name="BeginAbandonSoapOut">
    <part name="parameters" element="s0:BeginAbandonResponse" />
  </message>
  <message name="BeginPrepareSoapIn">
    <part name="parameters" element="s0:BeginPrepare" />
  </message>
  <message name="BeginPrepareSoapOut">
    <part name="parameters" element="s0:BeginPrepareResponse" />
  </message>
  <message name="BeginExtractSoapIn">
    <part name="parameters" element="s0:BeginExtract" />
  </message>
  <message name="BeginExtractSoapOut">
    <part name="parameters" element="s0:BeginExtractResponse" />
  </message>
  <message name="BeginReRunSoapIn">
    <part name="parameters" element="s0:BeginReRun" />
  </message>
  <message name="BeginReRunSoapOut">
    <part name="parameters" element="s0:BeginReRunResponse" />
  </message>
  <message name="IsOperationCompleteHttpGetIn">
    <part name="rerunID" type="s:string" />
  </message>
  <message name="IsOperationCompleteHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="SetupHttpGetIn">
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="SetupHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="BeginIdentifyHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="serializedFilter" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginIdentifyHttpGetOut" />
  <message name="BeginAnalyzeHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginAnalyzeHttpGetOut" />
  <message name="BeginIdentifyAndAnalyzeHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="serializedFilter" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginIdentifyAndAnalyzeHttpGetOut" />
  <message name="BeginBackoutHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginBackoutHttpGetOut" />
  <message name="BeginBackoutPrepareExtractHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginBackoutPrepareExtractHttpGetOut" />
  <message name="BeginDeleteHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginDeleteHttpGetOut" />
  <message name="BeginAbandonHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginAbandonHttpGetOut" />
  <message name="BeginPrepareHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginPrepareHttpGetOut" />
  <message name="BeginExtractHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginExtractHttpGetOut" />
  <message name="BeginReRunHttpGetIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginReRunHttpGetOut" />
  <message name="IsOperationCompleteHttpPostIn">
    <part name="rerunID" type="s:string" />
  </message>
  <message name="IsOperationCompleteHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="SetupHttpPostIn">
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="SetupHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="BeginIdentifyHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="serializedFilter" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginIdentifyHttpPostOut" />
  <message name="BeginAnalyzeHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginAnalyzeHttpPostOut" />
  <message name="BeginIdentifyAndAnalyzeHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="serializedFilter" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginIdentifyAndAnalyzeHttpPostOut" />
  <message name="BeginBackoutHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginBackoutHttpPostOut" />
  <message name="BeginBackoutPrepareExtractHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginBackoutPrepareExtractHttpPostOut" />
  <message name="BeginDeleteHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginDeleteHttpPostOut" />
  <message name="BeginAbandonHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginAbandonHttpPostOut" />
  <message name="BeginPrepareHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginPrepareHttpPostOut" />
  <message name="BeginExtractHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginExtractHttpPostOut" />
  <message name="BeginReRunHttpPostIn">
    <part name="rerunID" type="s:string" />
    <part name="transactionID" type="s:string" />
    <part name="comment" type="s:string" />
    <part name="serializedContext" type="s:string" />
  </message>
  <message name="BeginReRunHttpPostOut" />
  <portType name="ServiceSoap">
    <operation name="IsOperationComplete">
      <input message="s0:IsOperationCompleteSoapIn" />
      <output message="s0:IsOperationCompleteSoapOut" />
    </operation>
    <operation name="Setup">
      <input message="s0:SetupSoapIn" />
      <output message="s0:SetupSoapOut" />
    </operation>
    <operation name="BeginIdentify">
      <input message="s0:BeginIdentifySoapIn" />
      <output message="s0:BeginIdentifySoapOut" />
    </operation>
    <operation name="BeginAnalyze">
      <input message="s0:BeginAnalyzeSoapIn" />
      <output message="s0:BeginAnalyzeSoapOut" />
    </operation>
    <operation name="BeginIdentifyAndAnalyze">
      <input message="s0:BeginIdentifyAndAnalyzeSoapIn" />
      <output message="s0:BeginIdentifyAndAnalyzeSoapOut" />
    </operation>
    <operation name="BeginBackout">
      <input message="s0:BeginBackoutSoapIn" />
      <output message="s0:BeginBackoutSoapOut" />
    </operation>
    <operation name="BeginBackoutPrepareExtract">
      <input message="s0:BeginBackoutPrepareExtractSoapIn" />
      <output message="s0:BeginBackoutPrepareExtractSoapOut" />
    </operation>
    <operation name="BeginDelete">
      <input message="s0:BeginDeleteSoapIn" />
      <output message="s0:BeginDeleteSoapOut" />
    </operation>
    <operation name="BeginAbandon">
      <input message="s0:BeginAbandonSoapIn" />
      <output message="s0:BeginAbandonSoapOut" />
    </operation>
    <operation name="BeginPrepare">
      <input message="s0:BeginPrepareSoapIn" />
      <output message="s0:BeginPrepareSoapOut" />
    </operation>
    <operation name="BeginExtract">
      <input message="s0:BeginExtractSoapIn" />
      <output message="s0:BeginExtractSoapOut" />
    </operation>
    <operation name="BeginReRun">
      <input message="s0:BeginReRunSoapIn" />
      <output message="s0:BeginReRunSoapOut" />
    </operation>
  </portType>
  <portType name="ServiceHttpGet">
    <operation name="IsOperationComplete">
      <input message="s0:IsOperationCompleteHttpGetIn" />
      <output message="s0:IsOperationCompleteHttpGetOut" />
    </operation>
    <operation name="Setup">
      <input message="s0:SetupHttpGetIn" />
      <output message="s0:SetupHttpGetOut" />
    </operation>
    <operation name="BeginIdentify">
      <input message="s0:BeginIdentifyHttpGetIn" />
      <output message="s0:BeginIdentifyHttpGetOut" />
    </operation>
    <operation name="BeginAnalyze">
      <input message="s0:BeginAnalyzeHttpGetIn" />
      <output message="s0:BeginAnalyzeHttpGetOut" />
    </operation>
    <operation name="BeginIdentifyAndAnalyze">
      <input message="s0:BeginIdentifyAndAnalyzeHttpGetIn" />
      <output message="s0:BeginIdentifyAndAnalyzeHttpGetOut" />
    </operation>
    <operation name="BeginBackout">
      <input message="s0:BeginBackoutHttpGetIn" />
      <output message="s0:BeginBackoutHttpGetOut" />
    </operation>
    <operation name="BeginBackoutPrepareExtract">
      <input message="s0:BeginBackoutPrepareExtractHttpGetIn" />
      <output message="s0:BeginBackoutPrepareExtractHttpGetOut" />
    </operation>
    <operation name="BeginDelete">
      <input message="s0:BeginDeleteHttpGetIn" />
      <output message="s0:BeginDeleteHttpGetOut" />
    </operation>
    <operation name="BeginAbandon">
      <input message="s0:BeginAbandonHttpGetIn" />
      <output message="s0:BeginAbandonHttpGetOut" />
    </operation>
    <operation name="BeginPrepare">
      <input message="s0:BeginPrepareHttpGetIn" />
      <output message="s0:BeginPrepareHttpGetOut" />
    </operation>
    <operation name="BeginExtract">
      <input message="s0:BeginExtractHttpGetIn" />
      <output message="s0:BeginExtractHttpGetOut" />
    </operation>
    <operation name="BeginReRun">
      <input message="s0:BeginReRunHttpGetIn" />
      <output message="s0:BeginReRunHttpGetOut" />
    </operation>
  </portType>
  <portType name="ServiceHttpPost">
    <operation name="IsOperationComplete">
      <input message="s0:IsOperationCompleteHttpPostIn" />
      <output message="s0:IsOperationCompleteHttpPostOut" />
    </operation>
    <operation name="Setup">
      <input message="s0:SetupHttpPostIn" />
      <output message="s0:SetupHttpPostOut" />
    </operation>
    <operation name="BeginIdentify">
      <input message="s0:BeginIdentifyHttpPostIn" />
      <output message="s0:BeginIdentifyHttpPostOut" />
    </operation>
    <operation name="BeginAnalyze">
      <input message="s0:BeginAnalyzeHttpPostIn" />
      <output message="s0:BeginAnalyzeHttpPostOut" />
    </operation>
    <operation name="BeginIdentifyAndAnalyze">
      <input message="s0:BeginIdentifyAndAnalyzeHttpPostIn" />
      <output message="s0:BeginIdentifyAndAnalyzeHttpPostOut" />
    </operation>
    <operation name="BeginBackout">
      <input message="s0:BeginBackoutHttpPostIn" />
      <output message="s0:BeginBackoutHttpPostOut" />
    </operation>
    <operation name="BeginBackoutPrepareExtract">
      <input message="s0:BeginBackoutPrepareExtractHttpPostIn" />
      <output message="s0:BeginBackoutPrepareExtractHttpPostOut" />
    </operation>
    <operation name="BeginDelete">
      <input message="s0:BeginDeleteHttpPostIn" />
      <output message="s0:BeginDeleteHttpPostOut" />
    </operation>
    <operation name="BeginAbandon">
      <input message="s0:BeginAbandonHttpPostIn" />
      <output message="s0:BeginAbandonHttpPostOut" />
    </operation>
    <operation name="BeginPrepare">
      <input message="s0:BeginPrepareHttpPostIn" />
      <output message="s0:BeginPrepareHttpPostOut" />
    </operation>
    <operation name="BeginExtract">
      <input message="s0:BeginExtractHttpPostIn" />
      <output message="s0:BeginExtractHttpPostOut" />
    </operation>
    <operation name="BeginReRun">
      <input message="s0:BeginReRunHttpPostIn" />
      <output message="s0:BeginReRunHttpPostOut" />
    </operation>
  </portType>
  <binding name="ServiceSoap" type="s0:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="IsOperationComplete">
      <soap:operation soapAction="http://metratech.com/webservices/IsOperationComplete" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Setup">
      <soap:operation soapAction="http://metratech.com/webservices/Setup" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginIdentify">
      <soap:operation soapAction="http://metratech.com/webservices/BeginIdentify" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginAnalyze">
      <soap:operation soapAction="http://metratech.com/webservices/BeginAnalyze" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginIdentifyAndAnalyze">
      <soap:operation soapAction="http://metratech.com/webservices/BeginIdentifyAndAnalyze" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginBackout">
      <soap:operation soapAction="http://metratech.com/webservices/BeginBackout" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginBackoutPrepareExtract">
      <soap:operation soapAction="http://metratech.com/webservices/BeginBackoutPrepareExtract" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginDelete">
      <soap:operation soapAction="http://metratech.com/webservices/BeginDelete" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginAbandon">
      <soap:operation soapAction="http://metratech.com/webservices/BeginAbandon" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginPrepare">
      <soap:operation soapAction="http://metratech.com/webservices/BeginPrepare" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginExtract">
      <soap:operation soapAction="http://metratech.com/webservices/BeginExtract" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BeginReRun">
      <soap:operation soapAction="http://metratech.com/webservices/BeginReRun" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ServiceHttpGet" type="s0:ServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="IsOperationComplete">
      <http:operation location="/IsOperationComplete" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Setup">
      <http:operation location="/Setup" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="BeginIdentify">
      <http:operation location="/BeginIdentify" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginAnalyze">
      <http:operation location="/BeginAnalyze" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginIdentifyAndAnalyze">
      <http:operation location="/BeginIdentifyAndAnalyze" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginBackout">
      <http:operation location="/BeginBackout" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginBackoutPrepareExtract">
      <http:operation location="/BeginBackoutPrepareExtract" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginDelete">
      <http:operation location="/BeginDelete" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginAbandon">
      <http:operation location="/BeginAbandon" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginPrepare">
      <http:operation location="/BeginPrepare" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginExtract">
      <http:operation location="/BeginExtract" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="BeginReRun">
      <http:operation location="/BeginReRun" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="ServiceHttpPost" type="s0:ServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="IsOperationComplete">
      <http:operation location="/IsOperationComplete" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Setup">
      <http:operation location="/Setup" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="BeginIdentify">
      <http:operation location="/BeginIdentify" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginAnalyze">
      <http:operation location="/BeginAnalyze" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginIdentifyAndAnalyze">
      <http:operation location="/BeginIdentifyAndAnalyze" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginBackout">
      <http:operation location="/BeginBackout" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginBackoutPrepareExtract">
      <http:operation location="/BeginBackoutPrepareExtract" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginDelete">
      <http:operation location="/BeginDelete" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginAbandon">
      <http:operation location="/BeginAbandon" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginPrepare">
      <http:operation location="/BeginPrepare" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginExtract">
      <http:operation location="/BeginExtract" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="BeginReRun">
      <http:operation location="/BeginReRun" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="Service">
    <port name="ServiceSoap" binding="s0:ServiceSoap">
      <soap:address location="http://localhost/BillingReRun/ReRun.asmx" />
    </port>
    <port name="ServiceHttpGet" binding="s0:ServiceHttpGet">
      <http:address location="http://localhost/BillingReRun/ReRun.asmx" />
    </port>
    <port name="ServiceHttpPost" binding="s0:ServiceHttpPost">
      <http:address location="http://localhost/BillingReRun/ReRun.asmx" />
    </port>
  </service>
</definitions>