PrototypeCode/ListenerTestClientWebReferences/localhost/BatchListener.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://metratech.com/webservices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://metratech.com/webservices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://metratech.com/webservices">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchobject" type="s0:BatchObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BatchObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Namespace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BatchCreationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FailureReason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpectedCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sequence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceCreationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BatchCloseDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchUIDEncoded" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchobject" type="s0:BatchObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateByIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchobject" type="s0:BatchObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateByNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchobject" type="s0:BatchObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateByUIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nmspace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadByNameResult" type="s0:BatchObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadByUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadByUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadByUIDResult" type="s0:BatchObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadByIDResult" type="s0:BatchObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType />
      </s:element>
      <s:element name="BatchObject" nillable="true" type="s0:BatchObject" />
    </s:schema>
  </types>
  <message name="CreateSoapIn">
    <part name="parameters" element="s0:Create" />
  </message>
  <message name="CreateSoapOut">
    <part name="parameters" element="s0:CreateResponse" />
  </message>
  <message name="UpdateByIDSoapIn">
    <part name="parameters" element="s0:UpdateByID" />
  </message>
  <message name="UpdateByIDSoapOut">
    <part name="parameters" element="s0:UpdateByIDResponse" />
  </message>
  <message name="UpdateByNameSoapIn">
    <part name="parameters" element="s0:UpdateByName" />
  </message>
  <message name="UpdateByNameSoapOut">
    <part name="parameters" element="s0:UpdateByNameResponse" />
  </message>
  <message name="UpdateByUIDSoapIn">
    <part name="parameters" element="s0:UpdateByUID" />
  </message>
  <message name="UpdateByUIDSoapOut">
    <part name="parameters" element="s0:UpdateByUIDResponse" />
  </message>
  <message name="LoadByNameSoapIn">
    <part name="parameters" element="s0:LoadByName" />
  </message>
  <message name="LoadByNameSoapOut">
    <part name="parameters" element="s0:LoadByNameResponse" />
  </message>
  <message name="LoadByUIDSoapIn">
    <part name="parameters" element="s0:LoadByUID" />
  </message>
  <message name="LoadByUIDSoapOut">
    <part name="parameters" element="s0:LoadByUIDResponse" />
  </message>
  <message name="LoadByIDSoapIn">
    <part name="parameters" element="s0:LoadByID" />
  </message>
  <message name="LoadByIDSoapOut">
    <part name="parameters" element="s0:LoadByIDResponse" />
  </message>
  <message name="HelloWorldSoapIn">
    <part name="parameters" element="s0:HelloWorld" />
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse" />
  </message>
  <message name="LoadByNameHttpGetIn">
    <part name="name" type="s:string" />
    <part name="nmspace" type="s:string" />
  </message>
  <message name="LoadByNameHttpGetOut">
    <part name="Body" element="s0:BatchObject" />
  </message>
  <message name="LoadByUIDHttpGetIn">
    <part name="uid" type="s:string" />
  </message>
  <message name="LoadByUIDHttpGetOut">
    <part name="Body" element="s0:BatchObject" />
  </message>
  <message name="LoadByIDHttpGetIn">
    <part name="id" type="s:string" />
  </message>
  <message name="LoadByIDHttpGetOut">
    <part name="Body" element="s0:BatchObject" />
  </message>
  <message name="HelloWorldHttpGetIn">
    <part name="str" type="s:string" />
  </message>
  <message name="HelloWorldHttpGetOut" />
  <message name="LoadByNameHttpPostIn">
    <part name="name" type="s:string" />
    <part name="nmspace" type="s:string" />
  </message>
  <message name="LoadByNameHttpPostOut">
    <part name="Body" element="s0:BatchObject" />
  </message>
  <message name="LoadByUIDHttpPostIn">
    <part name="uid" type="s:string" />
  </message>
  <message name="LoadByUIDHttpPostOut">
    <part name="Body" element="s0:BatchObject" />
  </message>
  <message name="LoadByIDHttpPostIn">
    <part name="id" type="s:string" />
  </message>
  <message name="LoadByIDHttpPostOut">
    <part name="Body" element="s0:BatchObject" />
  </message>
  <message name="HelloWorldHttpPostIn">
    <part name="str" type="s:string" />
  </message>
  <message name="HelloWorldHttpPostOut" />
  <portType name="ListenerSoap">
    <operation name="Create">
      <input message="s0:CreateSoapIn" />
      <output message="s0:CreateSoapOut" />
    </operation>
    <operation name="UpdateByID">
      <input message="s0:UpdateByIDSoapIn" />
      <output message="s0:UpdateByIDSoapOut" />
    </operation>
    <operation name="UpdateByName">
      <input message="s0:UpdateByNameSoapIn" />
      <output message="s0:UpdateByNameSoapOut" />
    </operation>
    <operation name="UpdateByUID">
      <input message="s0:UpdateByUIDSoapIn" />
      <output message="s0:UpdateByUIDSoapOut" />
    </operation>
    <operation name="LoadByName">
      <input message="s0:LoadByNameSoapIn" />
      <output message="s0:LoadByNameSoapOut" />
    </operation>
    <operation name="LoadByUID">
      <input message="s0:LoadByUIDSoapIn" />
      <output message="s0:LoadByUIDSoapOut" />
    </operation>
    <operation name="LoadByID">
      <input message="s0:LoadByIDSoapIn" />
      <output message="s0:LoadByIDSoapOut" />
    </operation>
    <operation name="HelloWorld">
      <input message="s0:HelloWorldSoapIn" />
      <output message="s0:HelloWorldSoapOut" />
    </operation>
  </portType>
  <portType name="ListenerHttpGet">
    <operation name="LoadByName">
      <input message="s0:LoadByNameHttpGetIn" />
      <output message="s0:LoadByNameHttpGetOut" />
    </operation>
    <operation name="LoadByUID">
      <input message="s0:LoadByUIDHttpGetIn" />
      <output message="s0:LoadByUIDHttpGetOut" />
    </operation>
    <operation name="LoadByID">
      <input message="s0:LoadByIDHttpGetIn" />
      <output message="s0:LoadByIDHttpGetOut" />
    </operation>
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpGetIn" />
      <output message="s0:HelloWorldHttpGetOut" />
    </operation>
  </portType>
  <portType name="ListenerHttpPost">
    <operation name="LoadByName">
      <input message="s0:LoadByNameHttpPostIn" />
      <output message="s0:LoadByNameHttpPostOut" />
    </operation>
    <operation name="LoadByUID">
      <input message="s0:LoadByUIDHttpPostIn" />
      <output message="s0:LoadByUIDHttpPostOut" />
    </operation>
    <operation name="LoadByID">
      <input message="s0:LoadByIDHttpPostIn" />
      <output message="s0:LoadByIDHttpPostOut" />
    </operation>
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpPostIn" />
      <output message="s0:HelloWorldHttpPostOut" />
    </operation>
  </portType>
  <binding name="ListenerSoap" type="s0:ListenerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Create">
      <soap:operation soapAction="http://metratech.com/webservices/Create" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateByID">
      <soap:operation soapAction="http://metratech.com/webservices/UpdateByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateByName">
      <soap:operation soapAction="http://metratech.com/webservices/UpdateByName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateByUID">
      <soap:operation soapAction="http://metratech.com/webservices/UpdateByUID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadByName">
      <soap:operation soapAction="http://metratech.com/webservices/LoadByName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadByUID">
      <soap:operation soapAction="http://metratech.com/webservices/LoadByUID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadByID">
      <soap:operation soapAction="http://metratech.com/webservices/LoadByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HelloWorld">
      <soap:operation soapAction="http://metratech.com/webservices/HelloWorld" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ListenerHttpGet" type="s0:ListenerHttpGet">
    <http:binding verb="GET" />
    <operation name="LoadByName">
      <http:operation location="/LoadByName" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="LoadByUID">
      <http:operation location="/LoadByUID" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="LoadByID">
      <http:operation location="/LoadByID" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="ListenerHttpPost" type="s0:ListenerHttpPost">
    <http:binding verb="POST" />
    <operation name="LoadByName">
      <http:operation location="/LoadByName" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="LoadByUID">
      <http:operation location="/LoadByUID" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="LoadByID">
      <http:operation location="/LoadByID" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="Listener">
    <port name="ListenerSoap" binding="s0:ListenerSoap">
      <soap:address location="http://localhost:8080/BatchListener/BatchListener.asmx" />
    </port>
    <port name="ListenerHttpGet" binding="s0:ListenerHttpGet">
      <http:address location="http://localhost:8080/BatchListener/BatchListener.asmx" />
    </port>
    <port name="ListenerHttpPost" binding="s0:ListenerHttpPost">
      <http:address location="http://localhost:8080/BatchListener/BatchListener.asmx" />
    </port>
  </service>
</definitions>
