QuotingTestConsole/QuotingConsoleForTesting/Service References/AcountServiceReference/AccountService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devtmploraw:8010/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" />
  <xs:import schemaLocation="http://devtmploraw:8010/AccountService?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" />
  <xs:import schemaLocation="http://devtmploraw:8010/AccountService?xsd=xsd38" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metraTimeStamp" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="accounts" nillable="true" type="q1:MTListOfAccount" />
        <xs:element minOccurs="0" name="displayAliases" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="accounts" nillable="true" type="q2:MTListOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListTotalRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metraTimeStamp" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="accounts" nillable="true" type="q3:MTListOfAccount" />
        <xs:element minOccurs="0" name="displayAliases" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListTotalRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="acct" nillable="true" type="q4:AccountIdentifier" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="account" nillable="true" type="q5:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccountWithViews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="acct" nillable="true" type="q6:AccountIdentifier" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccountWithViewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="account" nillable="true" type="q7:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="acct" nillable="true" type="q8:AccountIdentifier" />
        <xs:element minOccurs="0" name="viewType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="views" nillable="true" type="q9:ArrayOfView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="accounts" nillable="true" type="q10:ArrayOfAccountIdentifier" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="newParent" nillable="true" type="q11:AccountIdentifier" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="moveStartDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAccountsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metraTimeStamp" type="xs:dateTime" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="accounts" nillable="true" type="q12:MTListOfAccount" />
        <xs:element minOccurs="0" name="displayAliases" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="accounts" nillable="true" type="q13:MTListOfAccount" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountWithoutWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="account" nillable="true" type="q15:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountWithoutWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="account" nillable="true" type="q16:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsTypeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsTypeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTypeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:long" />
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasLogonCapability" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTypeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasLogonCapability" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>