QuotingTestConsole/QuotingConsoleForTesting/Service References/AcountServiceReference/AccountService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Tax.Metratech_com_tax" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Tax.Metratech_com_tax" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TaxBand">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Reduce1" />
      <xs:enumeration value="Reduce2" />
      <xs:enumeration value="Reduce3" />
      <xs:enumeration value="Reduce4" />
      <xs:enumeration value="Exempt" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxBand" nillable="true" type="tns:TaxBand" />
  <xs:simpleType name="TaxZone">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DefaultZone" />
      <xs:enumeration value="Zone1" />
      <xs:enumeration value="Zone2" />
      <xs:enumeration value="Zone3" />
      <xs:enumeration value="Zone4" />
      <xs:enumeration value="Zone5" />
      <xs:enumeration value="Zone6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxZone" nillable="true" type="tns:TaxZone" />
  <xs:simpleType name="TaxVendor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MetraTax" />
      <xs:enumeration value="BillSoft" />
      <xs:enumeration value="Taxware" />
      <xs:enumeration value="VertexQ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxVendor" nillable="true" type="tns:TaxVendor" />
  <xs:simpleType name="TaxExemptReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotExempt" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxExemptReason" nillable="true" type="tns:TaxExemptReason" />
  <xs:simpleType name="TaxDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tax_details" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxDetail" nillable="true" type="tns:TaxDetail" />
  <xs:simpleType name="BillSoftTaxLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Federal" />
      <xs:enumeration value="State" />
      <xs:enumeration value="County" />
      <xs:enumeration value="Local" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BillSoftTaxLevel" nillable="true" type="tns:BillSoftTaxLevel" />
</xs:schema>