QuotingTestConsole/QuotingConsoleForTesting/Service References/AcountServiceReference/AccountService27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devtmploraw:8010/AccountService?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" />
  <xs:import schemaLocation="http://devtmploraw:8010/AccountService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://devtmploraw:8010/AccountService?xsd=xsd38" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MTListOfAccount">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MTListOf{0}" Namespace="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Account" Namespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PageSize" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="m_FilterElements" nillable="true" type="tns:ArrayOfMTBaseFilterElement">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="m_Items" nillable="true" type="q1:ArrayOfAccount">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="m_SortCriteria" nillable="true" type="tns:ArrayOfSortCriteria">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MTListOfAccount" nillable="true" type="tns:MTListOfAccount" />
  <xs:complexType name="ArrayOfMTBaseFilterElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MTBaseFilterElement" nillable="true" type="tns:MTBaseFilterElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMTBaseFilterElement" nillable="true" type="tns:ArrayOfMTBaseFilterElement" />
  <xs:complexType name="MTBaseFilterElement">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MTBaseFilterElement" nillable="true" type="tns:MTBaseFilterElement" />
  <xs:complexType name="MTBinaryFilterOperator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MTBaseFilterElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_LeftHandElement" nillable="true" type="tns:MTBaseFilterElement" />
          <xs:element minOccurs="0" name="m_OperatorType" type="tns:MTBinaryFilterOperator.BinaryOperatorType" />
          <xs:element minOccurs="0" name="m_RightHandElement" nillable="true" type="tns:MTBaseFilterElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MTBinaryFilterOperator" nillable="true" type="tns:MTBinaryFilterOperator" />
  <xs:simpleType name="MTBinaryFilterOperator.BinaryOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AND" />
      <xs:enumeration value="OR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MTBinaryFilterOperator.BinaryOperatorType" nillable="true" type="tns:MTBinaryFilterOperator.BinaryOperatorType" />
  <xs:complexType name="MTFilterElement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MTBaseFilterElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_OperationType" type="tns:MTFilterElement.OperationType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="m_PropertyName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="m_Value" nillable="true" type="xs:anyType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MTFilterElement" nillable="true" type="tns:MTFilterElement" />
  <xs:simpleType name="MTFilterElement.OperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Like">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Like_W">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Equal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotEqual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Greater">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GreaterEqual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Less">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LessEqual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="In">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IsNull">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IsNotNull">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MTFilterElement.OperationType" nillable="true" type="tns:MTFilterElement.OperationType" />
  <xs:complexType name="ArrayOfSortCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortCriteria" nillable="true" type="tns:SortCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortCriteria" nillable="true" type="tns:ArrayOfSortCriteria" />
  <xs:complexType name="SortCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="SortDirection" type="tns:SortType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SortProperty" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortCriteria" nillable="true" type="tns:SortCriteria" />
  <xs:simpleType name="SortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortType" nillable="true" type="tns:SortType" />
  <xs:complexType name="MASBasicFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MASBaseFaultDetail">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_DetailMessage" nillable="true" type="q2:ArrayOfstring" />
          <xs:element name="m_ErrorCode" type="xs:unsignedLong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MASBasicFaultDetail" nillable="true" type="tns:MASBasicFaultDetail" />
  <xs:complexType name="MASBaseFaultDetail">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MASBaseFaultDetail" nillable="true" type="tns:MASBaseFaultDetail" />
  <xs:complexType name="AccountIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_AccountID" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="m_Namespace" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="m_Username" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountIdentifier" nillable="true" type="tns:AccountIdentifier" />
  <xs:complexType name="ArrayOfAccountIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountIdentifier" nillable="true" type="tns:AccountIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountIdentifier" nillable="true" type="tns:ArrayOfAccountIdentifier" />
</xs:schema>