QuotingTestConsole/QuotingConsoleForTesting/Service References/AcountServiceReference/AccountService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Core.UI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Core.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AuthenticationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MetraNet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationType" nillable="true" type="tns:AuthenticationType" />
  <xs:simpleType name="DashboardColumnWidth">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ExtraSmall" />
      <xs:enumeration value="Small" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Large" />
      <xs:enumeration value="ExtraLarge" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DashboardColumnWidth" nillable="true" type="tns:DashboardColumnWidth" />
  <xs:simpleType name="ReportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Grid" />
      <xs:enumeration value="Chart" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportType" nillable="true" type="tns:ReportType" />
  <xs:simpleType name="Themes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Gold" />
      <xs:enumeration value="Gray" />
      <xs:enumeration value="Green" />
      <xs:enumeration value="Orange" />
      <xs:enumeration value="Purple" />
      <xs:enumeration value="Red" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Themes" nillable="true" type="tns:Themes" />
  <xs:simpleType name="UICultures">
    <xs:restriction base="xs:string">
      <xs:enumeration value="English" />
      <xs:enumeration value="English_GB" />
      <xs:enumeration value="French" />
      <xs:enumeration value="German" />
      <xs:enumeration value="Italian" />
      <xs:enumeration value="Spanish" />
      <xs:enumeration value="Japanese" />
      <xs:enumeration value="Arabic" />
      <xs:enumeration value="Spanish___Mexican" />
      <xs:enumeration value="Portuguese___Brazil" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UICultures" nillable="true" type="tns:UICultures" />
</xs:schema>