QuotingTestConsole/QuotingConsoleForTesting/Service References/ProductOfferingServiceReference/ProductOfferingService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Account.Metratech_com_accountcreation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Account.Metratech_com_accountcreation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Account" />
      <xs:enumeration value="Contact" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionType" nillable="true" type="tns:ActionType" />
  <xs:simpleType name="PaymentMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CreditOrACH" />
      <xs:enumeration value="CashOrCheck" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentMethod" nillable="true" type="tns:PaymentMethod" />
  <xs:simpleType name="StatusReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PendingPaymentSetUp" />
      <xs:enumeration value="PendingApproval" />
      <xs:enumeration value="AccountTerminated" />
      <xs:enumeration value="AccountDeactivated" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusReason" nillable="true" type="tns:StatusReason" />
  <xs:simpleType name="SecurityQuestion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="MothersMaidenName" />
      <xs:enumeration value="SSN" />
      <xs:enumeration value="PIN" />
      <xs:enumeration value="FirstSchool" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SecurityQuestion" nillable="true" type="tns:SecurityQuestion" />
  <xs:simpleType name="InvoiceMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Detailed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InvoiceMethod" nillable="true" type="tns:InvoiceMethod" />
  <xs:simpleType name="AccountStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PendingActiveApproval" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Suspended" />
      <xs:enumeration value="PendingFinalBill" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Archived" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountStatus" nillable="true" type="tns:AccountStatus" />
  <xs:simpleType name="ContactType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bill_To" />
      <xs:enumeration value="Ship_To" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:simpleType name="LoginApplication">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CSR" />
      <xs:enumeration value="MOM" />
      <xs:enumeration value="MCM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginApplication" nillable="true" type="tns:LoginApplication" />
  <xs:simpleType name="AuthenticationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MetraNetInternal" />
      <xs:enumeration value="ActiveDirectory" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationType" nillable="true" type="tns:AuthenticationType" />
</xs:schema>