QuotingTestConsole/QuotingConsoleForTesting/Service References/ProductOfferingServiceReference/ProductOfferingService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devtmploraw:8010/ProductOfferingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" />
  <xs:import schemaLocation="http://devtmploraw:8010/ProductOfferingService?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.ProductCatalog" />
  <xs:import schemaLocation="http://devtmploraw:8010/ProductOfferingService?xsd=xsd37" namespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" />
  <xs:element name="GetProductOfferings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="productOfferings" nillable="true" type="q1:MTListOfProductOffering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfferingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="productOfferings" nillable="true" type="q2:MTListOfProductOffering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOffering">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="productOfferingID" nillable="true" type="q3:PCIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfferingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.ProductCatalog" minOccurs="0" name="productOffering" nillable="true" type="q4:ProductOffering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfferingWithDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="productOfferingID" nillable="true" type="q5:PCIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfferingWithDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.ProductCatalog" minOccurs="0" name="productOffering" nillable="true" type="q6:ProductOffering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductOffering">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.ProductCatalog" minOccurs="0" name="productOffering" nillable="true" type="q7:ProductOffering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductOfferingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.ProductCatalog" minOccurs="0" name="productOffering" nillable="true" type="q8:ProductOffering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductOffering">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="productOfferingID" nillable="true" type="q9:PCIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductOfferingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPIInstanceToPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="poID" nillable="true" type="q10:PCIdentifier" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="piInstance" nillable="true" type="q11:BasePriceableItemInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPIInstanceToPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="piInstance" nillable="true" type="q12:BasePriceableItemInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePIInstanceFromPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="poID" nillable="true" type="q13:PCIdentifier" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="piInstanceID" nillable="true" type="q14:PCIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePIInstanceFromPOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPIInstancesForPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="poID" nillable="true" type="q15:PCIdentifier" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="piInstances" nillable="true" type="q16:MTListOfBasePriceableItemInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPIInstancesForPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="piInstances" nillable="true" type="q17:MTListOfBasePriceableItemInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPIInstanceForPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="poID" nillable="true" type="q18:PCIdentifier" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MetraTech.ActivityServices.Common" minOccurs="0" name="piInstanceID" nillable="true" type="q19:PCIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPIInstanceForPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="piInstance" nillable="true" type="q20:BasePriceableItemInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePIInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.BaseTypes" minOccurs="0" name="piInstance" nillable="true" type="q21:BasePriceableItemInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePIInstanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>