QuotingTestConsole/QuotingConsoleForTesting/Service References/ProductOfferingServiceReference/ProductOfferingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.AudioConf.Metratech_com_audioconfconnection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.AudioConf.Metratech_com_audioconfconnection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UserRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Participant" />
      <xs:enumeration value="Presenter" />
      <xs:enumeration value="Chair" />
      <xs:enumeration value="CSR" />
      <xs:enumeration value="Operator" />
      <xs:enumeration value="Translator" />
      <xs:enumeration value="Moderator" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:simpleType name="CallType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Dial_In" />
      <xs:enumeration value="Dial_Out" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CallType" nillable="true" type="tns:CallType" />
  <xs:simpleType name="Transport">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Domestic" />
      <xs:enumeration value="Intra_LATA" />
      <xs:enumeration value="Inter_LATA" />
      <xs:enumeration value="International" />
      <xs:enumeration value="Toll" />
      <xs:enumeration value="Toll_Free" />
      <xs:enumeration value="LongDistance" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Transport" nillable="true" type="tns:Transport" />
  <xs:simpleType name="Mode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Operator_Assisted" />
      <xs:enumeration value="Unattended" />
      <xs:enumeration value="Passcode" />
      <xs:enumeration value="Direct_Dialed" />
      <xs:enumeration value="Collect" />
      <xs:enumeration value="Originator" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Mode" nillable="true" type="tns:Mode" />
  <xs:simpleType name="UOM">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD" />
      <xs:enumeration value="EUR" />
      <xs:enumeration value="Minutes" />
      <xs:enumeration value="GBP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UOM" nillable="true" type="tns:UOM" />
</xs:schema>