QuotingTestConsole/QuotingConsoleForTesting/Service References/ProductOfferingServiceReference/ProductOfferingService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Account.Metratech_com_accounttemplate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Account.Metratech_com_accounttemplate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TemplateStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Submitted" />
      <xs:enumeration value="In_Progress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TemplateStatus" nillable="true" type="tns:TemplateStatus" />
  <xs:simpleType name="DetailType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Subscription" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DetailType" nillable="true" type="tns:DetailType" />
  <xs:simpleType name="DetailResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Information" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="FailureDetail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DetailResult" nillable="true" type="tns:DetailResult" />
</xs:schema>