QuotingTestConsole/QuotingConsoleForTesting/Service References/ProductOfferingServiceReference/ProductOfferingService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Core.Metratech_com_FileLandingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetraTech.DomainModel.Enums.Core.Metratech_com_FileLandingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ESecurityTokenType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHA1" />
      <xs:enumeration value="MD5" />
      <xs:enumeration value="TOKEN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ESecurityTokenType" nillable="true" type="tns:ESecurityTokenType" />
  <xs:simpleType name="EInvocationState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="NEW" />
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="FAILED" />
      <xs:enumeration value="COMPLETED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EInvocationState" nillable="true" type="tns:EInvocationState" />
  <xs:simpleType name="EServiceState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STOPPED" />
      <xs:enumeration value="STARTING" />
      <xs:enumeration value="READY" />
      <xs:enumeration value="SYNCING" />
      <xs:enumeration value="STOPPING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EServiceState" nillable="true" type="tns:EServiceState" />
  <xs:simpleType name="EArgumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FILE" />
      <xs:enumeration value="FIXED" />
      <xs:enumeration value="TRACKINGID" />
      <xs:enumeration value="BATCHID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EArgumentType" nillable="true" type="tns:EArgumentType" />
  <xs:simpleType name="EFileNameFilterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WILDCARD" />
      <xs:enumeration value="REGEX" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EFileNameFilterType" nillable="true" type="tns:EFileNameFilterType" />
  <xs:simpleType name="EEventFilterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RENAMED" />
      <xs:enumeration value="CREATED" />
      <xs:enumeration value="DELETED" />
      <xs:enumeration value="CHANGED" />
      <xs:enumeration value="ALL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EEventFilterType" nillable="true" type="tns:EEventFilterType" />
  <xs:simpleType name="EFileSetRequirementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEPENDENT" />
      <xs:enumeration value="INDEPENDENT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EFileSetRequirementType" nillable="true" type="tns:EFileSetRequirementType" />
  <xs:simpleType name="EDirectoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAILED" />
      <xs:enumeration value="WATCHED" />
      <xs:enumeration value="METERED" />
      <xs:enumeration value="COMPLETED" />
      <xs:enumeration value="TEMP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EDirectoryType" nillable="true" type="tns:EDirectoryType" />
  <xs:simpleType name="ETargetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXECUTABLE" />
      <xs:enumeration value="GENERATED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ETargetType" nillable="true" type="tns:ETargetType" />
  <xs:simpleType name="ELanguageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CSHARP" />
      <xs:enumeration value="VBASIC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ELanguageType" nillable="true" type="tns:ELanguageType" />
  <xs:simpleType name="EConditionalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALWAYS" />
      <xs:enumeration value="ON_RETRY" />
      <xs:enumeration value="ON_NEW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EConditionalType" nillable="true" type="tns:EConditionalType" />
  <xs:simpleType name="ERejectionReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_ERROR" />
      <xs:enumeration value="IMPROPERLY_NAMED" />
      <xs:enumeration value="TARGET_NOT_FOUND" />
      <xs:enumeration value="INTERFERENCE" />
      <xs:enumeration value="CONTROL_NUMBER_REUSED" />
      <xs:enumeration value="NOT_ENOUGH_FILES" />
      <xs:enumeration value="INTERNAL_ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ERejectionReason" nillable="true" type="tns:ERejectionReason" />
  <xs:simpleType name="EFileState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDING" />
      <xs:enumeration value="ASSIGNED" />
      <xs:enumeration value="REJECTED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EFileState" nillable="true" type="tns:EFileState" />
</xs:schema>